:root{
	--mainColor:#5c1111;
	--secondaryColor:#501119;

	--borderColor:#be981a;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(102, 17, 21, 0.8);
	--previewShadow:#33080d;


	--buttonColor:#501119;


}
