.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg, #222222, #1d1e22, #000000);
	background-size: 400% 100%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}
.skills > h1 {
    color: white;
}
.skills-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-list {
    list-style: none;
    padding: 5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}
.skills-list > li > img {
    height: 3em;
}
.skills-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    padding: 1rem;
}
/* .skills-list > li:hover {
    background-color: rgba(255,255,255,0.8);
} */
.skills-list > li:nth-of-type(1){
    transition-delay: 0.5s;
}
.skills-list > li:nth-of-type(2){
    transition-delay: 1s;
}
.skills-list > li:nth-of-type(3){
    transition-delay: 1.5s;
}
.skills-list > li:nth-of-type(4){
    transition-delay: 2s;
}
.skills-list > li:nth-of-type(5){
    transition-delay: 2.5s;
}
.skills-list > li:nth-of-type(6){
    transition-delay: 3s;
}
.skills-list > li:nth-of-type(7){
    transition-delay: 3.5s;
}
.skills-list > li:nth-of-type(8){
    transition-delay: 4s;
}
.skills-list > li:nth-of-type(9){
    transition-delay: 4.5s;
}
.hidden-stag {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show-stag {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}